.footer-container {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.footer-parent {
  width: 100%;
  max-width: 1920px; 
}

.footer-curve {
  width: 100%;
  line-height: 0; 
}

.footer-svg {
  width: 100%;
  height: auto;   
  display: block;
}

@media screen and (max-width: 1110px) {
  .footer-container {
    align-items: flex-end;
  }
}
