.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh !important;
    min-height: 670px;
    background-image: url('/home/rafat/Documents/Protfolio/client/src/assets/Home/bg.png');
}